.modal-background {
  display:grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-main {
  position: fixed;
  font-family: sans-serif;
  background: rgb(113, 42, 42);
  color: black;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1em;
}

.modal-main button.close {
  font-size: 1em;
  background: none;
  border: none;
  position: absolute;
  top: 0em;
  right: 0.2em;
  color:rgb(1, 3, 3)
}